svg {
    font: 10px sans-serif;
}

canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}

#chart {
    position: relative;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}
